%div.span-24.last(style="text-align: center; width: 960px;")
  - if @creation.topic
    #creation-topic= link_to "מתוך הנושא החודשי: "+@creation.topic.name, @creation.topic

  %h3
    =@creation.name
    %sub!= @creation.user.display_name
  #image-placeholder
    - if @context == 'all'
      .button.previous= link_to_if @creation.backward, "<<", creation_path(@creation.backward, :context => 'all')
      .button.next= link_to_if @creation.forward, ">>", creation_path(@creation.forward, :context => 'all')
    - if @context == 'user'
      .button.previous= link_to_if @creation.backward('user'), "<<", creation_path(@creation.backward('user'), :context => 'user')
      .button.next= link_to_if @creation.forward('user'), ">>", creation_path(@creation.forward('user'), :context => 'user')
    - if @context == 'kind'
      .button.previous= link_to_if @creation.backward('kind'), "<<", creation_path(@creation.backward('kind'), :context => 'kind')
      .button.next= link_to_if @creation.forward('kind'), ">>", creation_path(@creation.forward('kind'), :context => 'kind')
    - if @context == 'topic'
      .button.previous= link_to_if @creation.backward('topic'), "<<", creation_path(@creation.backward('topic'), :context => 'topic')
      .button.next= link_to_if @creation.forward('topic'), ">>", creation_path(@creation.forward('topic'), :context => 'topic')

  - if @creation.image?
    = image_tag(@creation.image.url(:large), {'class'=>"large-photo"})

  .span-14(style="text-align: right;")
    %p
      :textile
        #{@creation.content}
%div.span-10.last
%div.span-24.last
  %p
    - if @creation.user == current_user
      = link_to('עריכה', edit_creation_path(@creation))
      = link_to('מחיקה', @creation, :confirm => 'בטוחים שברצונכם למחוק את היצירה?', :method => :delete)
  %p(style="text-align:center;margin-top:1em;")
    = "התפרסם ב-"+l(@creation.created_at, :format => :full_date)+", לפני "+time_ago_in_words(@creation.created_at)
    != "<br/>"+@creation.user.firstname+" "+@creation.user.lastname+", גרעין "+@creation.user.garin.name+", שכבת "+@creation.user.garin.grade.name+". "+@creation.user.phoneext+"-"+@creation.user.phone

  #creation-comment(style="text-align:center;margin-top:1em; margin-bottom: 3em;")
    = link_to image_tag('/images/comment.png')+" שלח תגובה אישית ל#{@creation.user.firstname}", '#', :onclick => "$('#creation-comment-hidden').slideToggle('slow'); return false;"
    #creation-comment-hidden{:style => "display: none;"}
      %br
      %form{:action => "#{creation_path(@creation)}/comment", :method => "post"}
        %textarea{:name=> "content", :style => "font-family: sans-serif; height: 100px;", :placeholder => "הי #{@creation.user.firstname}, ראיתי את מה שפרסמת בדוור הטוב וחשבתי ש"}
        %br
        %input{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token}
        %input{:type => "submit", :value => "שלח את התגובה ממני ל#{@creation.user.firstname}"}

%div.span-24.last
  %div.span-6
    %p
  = render :partial => "home/moreworks"
%div.span-6.last
