%div.span-24.last(style="text-align: center;")
  %h3
    =@creation.name
    %sub!= @creation.user.display_name
  - if @creation.image?
    = image_tag @creation.image.url(:large)

  .span-14(style="text-align: right;")
    %p
      :textile
        #{@creation.content}
%div.span-10.last
%div.span-24.last
  %p
    - if @creation.user == current_user
      = link_to('עריכה', edit_creation_path(@creation))
      = link_to('מחיקה', @creation, :confirm => 'בטוחים שברצונכם למחוק את היצירה?', :method => :delete)
  %p(style="text-align:center;margin-top:15em;")
    = "התפרסם ב-"+l(@creation.created_at, :format => :full_date)+", לפני "+time_ago_in_words(@creation.created_at)
    != "<br/>"+@creation.user.firstname+" "+@creation.user.lastname+", גרעין "+@creation.user.garin.name+", שכבת "+@creation.user.garin.grade.name+". "+@creation.user.phone
  %p(style="text-align:center") << קטע קודם של אדם | קטע אחר של אדם | קטע הבא של אדם >> <br/> << קטע קודם באתר | קטע אחר באתר | קטע הבא באתר >>

%div.span-24.last
  %div.span-6
    %p
  = render :partial => "home/moreworks"
%div.span-6.last
