%div.span-12
  %div.span-6.click-div
    %h3
      =link_to(@textgallery[1].name, "/creations/"+@textgallery[1].friendly_id)
      %sub!= @textgallery[1].user.display_name
    %p
      :textile
        #{@textgallery[1].summary}
  %div.span-6.last.click-div
    %h3
      =link_to(@photosgallery[0].name, "/creations/"+@photosgallery[0].friendly_id)
      %sub!= @photosgallery[0].user.display_name
    = image_tag(@photosgallery[0].image.url(:medium), {'class'=>'fp-thumb'})
  %div.span-6.click-div
    %h3
      =link_to(@photosgallery[1].name, "/creations/"+@photosgallery[1].friendly_id)
      %sub!= @photosgallery[1].user.display_name
    = image_tag(@photosgallery[1].image.url(:medium), {'class'=>'fp-thumb'})
  %div.span-6.last.click-div
    %h3
      =link_to(@textgallery[0].name, "/creations/"+@textgallery[0].friendly_id)
      %sub!= @textgallery[0].user.display_name
    %p
      :textile
        #{@textgallery[0].summary}
  %div.span-12.last
    %p.more.space= link_to('הצג את כל יצירות הנושא החודשי >>', "/topics/"+@topic.friendly_id)
  %div.span-6.click-div
    %h3
      =link_to(@news[0].name, "/creations/"+@news[0].friendly_id)
      %sub!= @news[0].user.display_name
    %p
      :textile
        #{@news[0].summary}
  %div.span-6.last.click-div
    %h3
      =link_to(@news[1].name, "/creations/"+@news[1].friendly_id)
      %sub!= @news[1].user.display_name
    %p
      :textile
        #{@news[1].summary}
  %div.span-12.last
    %p.more= link_to('הצג את כל יצירות האקטואליה >>', "/news")
%div.span-12.last
  %div.span-3.red.topic-box.click-div
    = link_to('', '/kinds/'+@kinds[3].friendly_id)
    %h4= @kinds[3].name+" ("+@kinds[3].creations.count.to_s+")"
    %span וידאו, מוסיקה
  %div.span-3.blue.topic-box.click-div
    = link_to('', '/kinds/'+@kinds[2].friendly_id)
    %h4= @kinds[2].name+" ("+@kinds[2].creations.count.to_s+")"
    %span שירה, סיפורת, בובר
  %div.span-3.green.topic-box.click-div
    = link_to('', '/kinds/'+@kinds[1].friendly_id)
    %h4= @kinds[1].name+" ("+@kinds[1].creations.count.to_s+")"
    %span צילום, ציור, פיסול
  %div.span-3.last.yellow.topic-box.space.click-div
    = link_to('', '/kinds/'+@kinds[0].friendly_id)
    %h4= @kinds[0].name+" ("+@kinds[0].creations.count.to_s+")"
    %span מסות, כתבות
  %span(style="float:left; top: 20px; position: relative;") בחודש הבא: <span style='font-weight: bold; color: #117f53;'>ביטול העבודה</span>
  %h2
    %span החודש:
    %span.title=@topic.name
  :textile
    #{@topic.description}
  %div.span-12.last
    %h3
      %span להורדת הגיליון הקודם:
      %span.title עוד לא...
  = render :partial => "moreworks"
