- form_for(@creation, :html => { :multipart => true }) do |f|
  .span-18
    %h2 העלאת יצירה לאתר
    - if @creation.errors.any?
      #error_explanation
        %h2= pluralize(@creation.errors.count, "שגיאה")+" מנעו מהיצירה שלכם להשמר:"
        %ul
        - @creation.errors.full_messages.each do |msg|
          %li= msg
    .span-18.last
      %h3 שם היצירה
      = f.text_field(:name, {'value'=> 'ללא שם'})

    .span-18.last
      .span-9
        %h3 אקטואליה
        %p
          = f.check_box :news
          %span זוהי יצירת אקטואליה
      .span-9.last
        %h3 הנושא החודשי
        = collection_select(:creation, :topic_id, Topic.all, :id, :name, :prompt => "לא קשור לנושא החודשי" )
      .span-18.last
        .span-9
          %h3 תקציר
          = f.text_area(:summary, {'style'=>'width: 300px; height: 200px;'})
        .span-9.last
          %h3 סוג היצירה
          = collection_select(:creation, :kind_id, Kind.all, :id, :name )
          %br
          %h3 תגיות
          = f.text_area(:tag_list, {'style'=>'width: 300px; height: 50px;'})
      .span-18.last
        %br
        %h3 תוכן
        = f.text_area(:content, {'style'=>"width: 450px; height: 300px;"})
      .span-18.last
        .span-6
          %br
          %br
          %br
          %br
          %span
            :textile

        .span-12.last
          %br
          %h3 הוספת קובץ
          = f.file_field :image
          %input(type="submit" value="הוסף את היצירה שלי!" style="font-size: 150%; margin: 2em;")
          = f.submit
  .span-6.last
    %p
      :textile
        **הצילו! מה זה?!**
        קודם כל לנשום. כאן אפשר להוסיף יצירה לאתר. עכשו הלאה.

        **מה זה נושא חודשי?**
        הנושא החודשי הוא-הוא לב-ליבו של האתר. אתם יכולים לשייך את היצירה שלכם לנושא החודשי הנוכחי או זה של החודש הבא. קראו עוד על הנושא החודשי בעמוד "מה זה בכלל":/about.

        **מה הכוונה באקטואליה?**
        יצירץ אקטואליה היא יצירה שנוגעת לעכשו. זו יכולה למשל להיות כתבה על משהו שהתרחש לאחרונה, אבל גם טור שאתם רוצים לפרסם פעם בחודש בנושא מוסיקה. יצירת אקטואליה תופיע בדף הראשי, בצד שמאל למטה באזור האקטואליה, וגם תצא בגיליון המודפס בסוף החודש. במשך כל החודש היא תופיע "בגלריית האקטואליה":/actuallia.

        **מה זה תגיות?**
        תגיות הן כלי לניווט באתר. אתם לא חייבים לתייג את היצירה שלכם, אבל אם תעשו זאת אפשר יהיה להגיע אליה דרך ענן התגיות שבעמוד הראשי, למשל. אז אולי שווה לכם.

        **שו תקציר?**
        אם היצירה שלכם היא יצירת טקסט או מוסיקה, יופיע התקציר שלה בכל הרשימות באתר. אפשר לכתוב את הפתיח של הסיפור, או כמה שורות מצויינות מהשיר - אבל אל תכתבו את הפאנצ'

        *איך אני עושה קצת עיצוב לכתבה שלי?*
        במקום ללמוד לתכנת, אתם יכולים להשתמש בכמה סימנים מוסכמים כדי לעצב את הטקסט שלכם.
        אנחנו משתמשים בשיטה שנקראת טקסטיל, ואתם יכולים לקרוא פירוט שלה "כאן":http://en.wikipedia.org/wiki/Textile_(markup_language). בגדול, פשוט צריך להקיף את הקטע שאתם רוצים לעצב בסימן מסויים, למשל:
        * הדגשה: &#42;*בכוכביות*&#42;
        * קו תחתון: &#43;+בפלוסים+&#43;
        * הטייה: &#95;_בקו תחתון_&#95;
        כדי ליצור רשימות, טבלאות, כותרות וכו' - קראו עוד על טקסטיל.

        **איך מוסיפים תמונה?**
        פשוט בוחרים את הקובץ.

        *למה מיועדת הוספת קבצים?*
        אם אתם מעלים יצירה של ניו-מדיה או ויז'ואל ארט, צרפו כאן את קובץ התמונה, הקול או הוידאו שלכם.
        לתמונות או וידאו יופיע סמליל במקום תקציר בכל הרשימות בהן היצירה שלכן מפורטת.

        *איזה קבצים נתמכים?*
        * תמונות: JPG
        * סאונד: MP3
        * וידאו: FLV, MPG, AVI

        *אם אני אתחרט אחר-כך?*
        מותר להתחרט. אפשר להסיר יצירה מהאתר, ואפשר גם לערוך אותה.
