<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @creation.name %>
</p>

<p>
  <b>Topic:</b>
  <%= @creation.topic_id %>
</p>

<p>
  <b>News:</b>
  <%= @creation.news %>
</p>

<p>
  <b>Kind:</b>
  <%= @creation.kind_id %>
</p>

<p>
  <b>Summary:</b>
  <%= @creation.summary %>
</p>

<p>
  <b>Content:</b>
  <%= @creation.content %>
</p>


<%= link_to 'Edit', edit_creation_path(@creation) %> |
<%= link_to 'Back', creations_path %>
