!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "he", "dir" => "rtl"}
  %head
    %meta(content="text/html; charset=UTF-8"
          http-equiv="content-type")
    %script(type="text/javascript"
            src="js/jquery-1.4.2-min.js")
    %link(rel="stylesheet"
          href="css/screen.css"
          type="text/css")
    %link(rel="stylesheet"
          href="css/style.css"
          type="text/css")

    %title במות
  %body
    #page
      #topbar
        %span.logo במות
        %span מערכת מזמינה לשיחה
        #nav
          %ul
            %li התחלה
            %li העלאת יצירה
            %li גליונות קודמים
            %li חיפוש
            %li מה זה בכלל
            %li הרשמה
      #content
        %div.span-12
          %div.span-6
            %h3 זוגיות ואני #{"<sub> / אדם סמית' </sub>"}
            %p
              :maruku
                דג קטן הלך לטיול  
                ופגש שם דגים רבים אחרים  
                אבל הוא לא דיבר איתם  
                  
                יש דגים נסתרים  
                לא נבין לא נדע  
                נעשה גם דגים  
                שנראים בלי סיבה
          %div.span-6.last
            %h3 ללא שם #{"<sub> / מעין בן דוד </sub>"}
            %img(src="imgs/couple.jpg"
                 class="fp-thumb")
          %div.span-6
            %h3 ללא שם #{"<sub> / יצחק שמטוב </sub>"}
            %img(src="imgs/wish.jpg"
                 class="fp-thumb")
          %div.span-6.last
            %h3 דגים והם #{"<sub> / מאיר דגן </sub>"}
            %p
              :maruku
                דג קטן הלך לטיול  
                ופגש שם דגים רבים אחרים  
                אבל הוא לא דיבר איתם  
                  
                יש דגים נסתרים  
                לא נבין לא נדע  
                נעשה גם דגים  
                שנראים בלי סיבה
          %div.span-12.last
            %p.more הצג את כל יצירות הנושא החודשי >>
          %div.span-6
            %h3 המצור על עזה #{"<sub> / יוחנן המטביל </sub>"}
            %p
              :maruku
                הרבה מדברים על המצור על עזה, אבל אף אחד לא מדבר על המצור על עזה!! חשבתי לאחרונה ששווה לדבר על זה קצת, ולומר מה דעתנו בעניין.
          %div.span-6.last
            %h3 לקראת הקיץ #{"<sub> / כלב בן יפונה </sub>"}
            %p
              :maruku
                אני מניח שגם אתם מתכוננים לקייצת, בדיוק כמו אצלנו. זה נחמד, אבל מה עם המצור על עזה? חשבתי שכדאי לדבר קצת על הקייצות בהקשר העזתי שלהן, ולחקור קצת התחום.
          %div.span-12.last
            %p.more הצג את כל יצירות האקטואליה >>
        %div.span-12.last
          %div.span-3.red.topic-box
            %h4 ניו-מדיה (6)
            %span וידאו, מוסיקה
          %div.span-3.blue.topic-box
            %h4 כתיבהיוצרת (22)
            %span שירה, סיפורת, בובר
          %div.span-3.green.topic-box
            %h4 ויז'ואל ארט (19)
            %span צילום, ציור, פיסול
          %div.span-3.last.yellow.topic-box.space
            %h4 דעה (12)
            %span מסות, כתבות
          %span(style="float:left; top: 20px; position: relative;") בחודש הבא: #{"<span style='font-weight: bold;color: #117f53;'>"}ביטול העבודה#{"</span>"}
          %h2
            %span החודש:
            %span.title ביטול הזוגיות
          %p דג קטן הלך לטיול ופגש שם דגים רבים אחרים. דג קטן הלך לטיול ופגש שם דגים רבים אחרים. דג קטן הלך לטיול ופגש שם דגים רבים אחרים. דג קטן הלך לטיול ופגש שם דגים רבים אחרים. דג קטן הלך לטיול ופגש שם דגים רבים אחרים. דג קטן הלך לטיול ופגש שם דגים רבים אחרים. דג קטן הלך לטיול ופגש שם דגים רבים אחרים.
          %p דג קטן הלך לטיול ופגש שם דגים רבים אחרים. דג קטן הלך לטיול ופגש שם דגים רבים אחרים. דג קטן הלך לטיול ופגש שם דגים רבים אחרים. דג קטן הלך לטיול ופגש שם דגים רבים אחרים. דג קטן הלך לטיול ופגש שם דגים רבים אחרים. דג קטן הלך לטיול ופגש שם דגים רבים אחרים. דג קטן הלך לטיול ופגש שם דגים רבים אחרים.  
          %p.space בגיליון הבא שלנו נדבר קצת על ביטול העבודה. אנחנו ממליצים לקרוא קצת את הקטע של בובר בנושא, וגם הקטע המכונן של אביהו מדינה. בכלל, שווה לנסות להתעסק בשאלה - מה זה בעצם ביטול העבודה? למה עבודה, ולמה לבטל הכל? דג קטן הלך לטיול ופגש שם דגים רבים אחרים. דג קטן הלך לטיול ופגש שם דגים רבים אחרים. דג קטן הלך לטיול ופגש שם דגים רבים אחרים. דג קטן הלך לטיול ופגש שם דגים רבים אחרים. דג קטן הלך לטיול ופגש שם דגים רבים אחרים. דג קטן הלך לטיול ופגש שם דגים רבים אחרים. כל זאת ועוד - בגיליון הבא!
          %div.span-12.last
            %h3
              %span להורדת הגיליון הקודם:
              %span.title ביטול המשפחה
          %div.span-4
            %h3.line דברים אקראיים
            %ol
              %li בולבולים / גילי אולשר
              %li המלחמה והתחת / אהרן אמיר
              %li ללא שם / יצחק שמטוב
              %li אני והחברה / דונלד דאק
              %li זוג או פרד / שמחה רבה
          %div.span-4
            %h3.line הצטרפו לאחרונה
            %ol
              %li דב ובר / במחולות
              %li אמיר פיי גוטמן / פייב
              %li תום תום / קלאב
              %li סיבה טובה / בעליל
              %li עדי צורגיל / בלי גרעין
          %div.span-4.last
            %h3.line יצירות אחרונות
            %ol
              %li בולבולים / מעין בן דוד
              %li המלחמה והתחת / אהרן אמיר
              %li ללא שם / יצחק שמטוב
              %li אני והחברה / דונלד דאק
              %li זוג או פרד / שמחה רבה
      #footer
        %span מערכת במות היא תוכנה חופשית ומומלצת לצפייה בדפדפן חופשי 
