!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "he", "dir" => "rtl"}
  %head
    %meta(content="text/html; charset=UTF-8"
          http-equiv="content-type")
    %script(type="text/javascript"
            src="/javascripts/jquery-1.4.2.min.js")
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
    %link(rel="stylesheet"
          href="/css/screen.css"
          type="text/css")
    %link(rel="stylesheet"
          href="/stylesheets/style.css"
          type="text/css")
    %title הדוור הטוב
    = yield :rss
  %body
    #page
      #topbar
        %span.logo הדוור הטוב
        %span מערכת מזמינה לשיחה
        #nav
          %ul
            %li(style="color: white;")= link_to("התחלה", "/")
            %li= link_to("העלאת יצירה", "/submit")
            %li= link_to("גליונות קודמים", "/topics")
            %li= link_to("חיפוש", "/search")
            %li= link_to("מה זה בכלל", "/about")
            %li(class="left-nav")
              - if user_signed_in?
                %span= "מחובר כ"+current_user.firstname+" | "
                %span= link_to('הדפשלי', '/users/'+current_user.friendly_id)+" | "
                - if current_user.notify?
                  %span= link_to('ביטול מנוי', '/notify')+" | "
                - else
                  %span= link_to('הודע לי על עדכונים', '/notify')+" | "
                %span
                  = link_to('ניתוק', destroy_user_session_path)

              - else
                %span= link_to 'הרשמה', new_user_registration_path
      #content
        - if flash[:notice]
          #notice
            %p= flash[:notice]
        - if flash[:error]
          #error
            %p= flash[:error]
        - if flash[:alert]
          #notice
            %p= flash[:alert]
        = yield
      #footer
        %span מערכת במות היא תוכנה חופשית ומומלצת לצפייה בדפדפן חופשי
    :javascript
       $('div.click-div').click(function () {
         window.location = $(this).find('a:first').attr('href');
       });
