<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @topic.name %>
</p>

<p>
  <b>Description:</b>
  <%= @topic.description %>
</p>

<p>
  <b>Start:</b>
  <%= @topic.start %>
</p>

<p>
  <b>End:</b>
  <%= @topic.end %>
</p>

<p>
  <b>File:</b>
  <%= @topic.extfile_id %>
</p>


<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
